{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Cấp lại mặt khẩu" %}{% endblock %}

{% block content %}

    <h1>{% trans "Cấp lại mặt khẩu" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Quyên mật khẩu? Xin nhập email, chúng tôi sẽ gửi mật khẩu mới vào e-mail cho bạn." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Vui lòng liên hệ với chúng tôi nếu bạn gặp bất kỳ sự cố nào khi đặt lại mật khẩu của mình{% endblocktrans %}</p>
{% endblock %}
