<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="with =device-width, initial-scale=1.0">
    <title>HMis Web</title>
    <link rel="stylesheet" href= {% static "/huanluyen/hmis.css" %}>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="sub-header">
    <nav>
        <a href="layouts/hmis.html"> <img class="image-thumbail" alt="" src="/static/assets/img/anh_his/hrm3.png"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times"  onclick="hideMenu()"></i>
             <ul>
                 <li> <a href="{% url 'huanluyen:web_index' %}">HOME</a> </li>
                <li> <a href="{% url 'huanluyen:web_about' %} ">ABOUT</a> </li>
                <li> <a href="{% url 'huanluyen:web_course' %} ">COURSE</a> </li>
                <li> <a href="{% url 'huanluyen:web_blog' %} ">BLOG</a> </li>
                <li> <a href="{% url 'huanluyen:web_Contac' %}">CONTACT</a> </li>
            </ul>
        </div>
       <!---  <i class="fa fa-bars"</i> --->
       <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
  <h1> Our Coure</h1>
</section>

<!------------------huanluyen------------>
<section class="course">
    <h1>  CÁC CHƯƠNG TRÌNH TƯ VẤN VÀ ĐÀO TẠO </h1>
    <p>MỘT SỐ CHƯƠNG TRÌNH TƯ VẤN VÀ ĐÀO TẠO
CỦA VIỆN KHOA HỌC QUẢN LÝ NGUỒN NHÂN LỰC (HMIS)
</p>
    <div class="row">
        <div class="course-col">
            <h3>  Xây dựng bộ Tự điển đánh giá năng lực nhân sự</h3>
            <p>

                Thu thập, phân tích dữ liệu liên quan: chức năng, nhiệm vụ, mô tả công việc
                Biên soạn tài liệu, đào tạo kiến thức và thực hành đánh giá năng lực nhân viên
                Xác định mô hình năng lực Doanh nghiệp
                Xác định và phân loại năng lực
                Xác định danh mục năng lực Doanh nghiệp
                Phân tích năng lực chức danh
                Phân cấp năng lực chức danh
                Hoàn chỉnh Bộ từ điển năng lực
                Xây dựng Quy trình đánh giá năng lực nhân sự và phát triển nguồn nhân lực

            </p>
        </div>
         <div class="course-col">
            <h3> Thiết lập Hệ thống cấu trúc bộ máy tổ chức</h3>
            <p>
                Thiết lập dự thảo hệ thống tổ chức bộ máy Doanh nghiệp và các đơn vị trực thuộc
                (Cơ cấu tổ chức, sơ đồ tổ chức, chức năng, nhiệm vụ, quyền hạn, mối quan hệ làm việc và hệ thống chức danh công việc).
            </p>
        </div>

        <div class="course-col">
            <h3> XÂY DỰNG HỆ THỐNG BẢNG MÔ TẢ CÔNG VIỆC</h3>
            <p>
               Thiết kế mẫu bảng mô tả công việc
                Tổ chức tập huấn triển khai
                Phát phiếu và thu thập dữ liệu theo mẫu
            </p>
        </div>
    </div>
</section>

<!-------------faclities----------------->
<section class="faclities">
    <h1>CÁC CHƯƠNG TRÌNH ĐÀO TẠO</h1>
    <P> Giám đốc điều hành (CEO)
Giám đốc nhân sự (CPO)Giám đốc tài chính (CFO)Giám đốc kinh doanh (CCO)Nâng cao năng lực lãnh đạo
</P>
    <div class="row">
        <div class="facilities-col">
            <img src="/static/assets/img/anh_his/basketball.png">
            <h3>DÀNH CHO QUẢN LÝ CẤP CAO</h3>
            <p>Hoạch định chiến lược;Nghệ thuật lãnh đạo và thuật sử dụng quyền lực
                    Quản trị thương hiệu và Tiếp thị dành cho lãnh đạo;Nhân sự dành cho lãnh đạo
                Kỹ năng giao tiếp bán hàng và chăm sóc khách hàng; Quản trị chiến lược
            </p>
        </div>
        <div class="facilities-col">
            <img src="/static/assets/img/anh_his/cafeteria.png">
            <h3>DÀNH CHO QUẢN LÝ CẤP TRUNG</h3>
            <p>KQuản lý nhân viên hiệu quả; Nghệ thuật giữ chân nhân tài;Nghiên cứu và phân tích thị trường
            </p>
            </div>
        <div class="facilities-col">
            <img src="/static/assets/img/anh_his/library.png">
            <h3>DÀNH CHO LĨNH VỰC MARKETING & SALES</h3>
            <p>Kỹ năng quản lý và giám sát đội ngũ bán hàng
                Kỹ năng giao tiếp bán hàng và chăm sóc khách hàng; Quản trị chiến lược
            </p>
        </div>

    </div>

    </section>

<!------------------------------>


<!------------------Footer------------>
<section class="footer">
    <h4>Abou Us</h4>
    <p>  HMIS sẵn sàng trao đổi, phân tích nhu cầu <br>
        và thiết kế các chương trình tư vấn và đào tạo chuyên biệt phù hợp
        theo đơn đặt hàng của Quý Doanh nghiệp</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
<p>Made with   <i class="fa fa-heart-o"></i> Viện Khoa học Quản lý Nguồn nhân lực (HMIS) </p>
</section>



<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>

</body>
</html>