{% extends "layouts/base.html" %}
{% block title %} Danh sách Bộ phận {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<style>
.label {
  color: white;
  padding: 8px;
  font-family: Arial;
}
.success {background-color: #04AA6D;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #f44335; color: yellow;} /* Gray */
</style>

<body class="m-12">
    <div class="container ">
        <div class="col-md-12">
            <a href="{% url 'bangluong_list' %}" class="btn btn-dark my-3"> Quay về trang chủ</a>
            <div class="card">
                <form method="POST" action="" enctype="multipart/form-data">
                     {% csrf_token %}
                 <div class="form-row">
                  <div class="form-group col-md-4 mb-3">
                       <div class="form-group m-3">
                        <label>Mức lương tối thiểu</label>
                        <input name="luong_toi_thieu" type="number" placeholder="Mức lương tối thiểu" class ="form-control">
                      </div>

                      <div class="form-group m-3">
                       <button type="submit" class="btn btn-primary m-3">Lưu</button>
                      </div>


                  </div>


                </form>
      </div>
        </div>
    </div>
</body>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}