{% extends "layouts/base.html" %}
{% block title %} Danh sách Bộ phận {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<style>
.form-group m-4 input{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;

}
.label {
  color: white;
  padding: 8px;
  font-family: Arial;
}
.success {background-color: #04AA6D;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #f44335; color: yellow;} /* Gray */
</style>

<body class="m-12">
    <div class="container ">
        <div class="col-md-12">
            <a href="{% url 'hopdong_view' %}" class="btn btn-dark my-3"> Quay về  trang chủ</a>
            <div class="card">
                <form method="POST" action="" >
                     {% csrf_token %}
                  <div class="form-group col-md-4 mb-3">
                    <br>

                  </div>
                   <div class="form-group m-4">
                    <label>Tháng trả lương <br><i> Từ tháng 1, 2,3,...12</i> </label>
                    <input name="thang" type="text" placeholder="Tháng 1, 2,3,...12" class ="form-control">
                     <label>Năm <br><i> 2023 </i> </label>
                    <input name="nam" type="text" placeholder="Năm 2023, 2024" class ="form-control">
                  </div>

                <button type="submit" class="btn btn-primary m-4">Lưu</button>
               </form>
      </div>
        </div>
    </div>
</body>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}