<header>
    <title>nv vn</title>
    <meta content="windows-1252">
    <meta name="">
</header>


<ul id ="list">

</ul>
<script>
     var = tab["css", "html", "car"];
     var list = document.getElementById("list");
     for (var i = 0; i < tab.length; i++)
     {
        var liNode = document.createElement("LI");
        var txtNode = document.createTextNode(tab[i]);
        liNode.appendChild(txt);
        List appendChild(liNode);
     }
     
</script>
<!-- Specific Page JS goes HERE  -->
