{% extends "layouts/base.html" %}
{% block title %} Danh sách Bộ phận {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<body class="m-12">
    <div class="container">
        <div class="col-md-12">
            <a href="{% url 'gallery' %}" class="btn btn-dark my-3"> Quay về trang chủ</a>
            <div class="card">
                <form method="POST" action="" enctype="multipart/form-data">
                     {% csrf_token %}
                  <div class="form-group m-3">
                    <label> Nội dung đào tạo</label>
                    <input required name="description" type="text"  placeholder="Nhập mô tả" class="form-control">
                  </div>
                  <div class="form-group m-3">
                    <label> Ngày Đào tạo</label>
                    <input required name="ngay_daotao" type="date"  placeholder="Nhập ngày dào taoj" class="form-control">
                  </div>

                  <div class="form-group m-3">
                    <label> Select a tên lớp </label>
                    <select name="tenlop" class="form-control">
                        <option value="none"> Chọn tên lớp... </option>
                        {% for tenlop in tenlops %}
                        <option value="{{tenlop.id}}">{{tenlop.name}}</option>
                        {% endfor %}
                    </select>
                  </div>

                    <div class="form-group m-3">
                    <label>Họ và tên Giảng viên</label>
                    <input name="educator" type="text" placeholder="Họ, Tên giảng viên" class ="form-control">
                  </div>

                    <div class="form-group m-3">
                    <label>Tạo Khóa đào tạo</label>
                    <input name="tenlop_new" type="text" placeholder="Tạo một tên lớp mới, khi chưa có tên lớp trong hệ thốnng" class ="form-control">
                  </div>

                  <div class="form-group m-6">
                    <label>Excerpt</label>
                    <input name="excerpt" type="text" placeholder="Giới thiệu/mô tả khóa học" class ="form-control">
                  </div>

                  <div class="form-group m-6">
                    <label>Số lớp/khóa học/Number_lessons</label>
                    <input name="number_lessons" type="text" placeholder="Số lớp/khóa học" class ="form-control">
                  </div>

                   <div class="form-group m-3">
                    <label> Upload ảnh/tài liệu</label>
                    <input required name="images" type="file" multiple class="form-control-file">
                  </div>

                    <button type="submit" class="btn btn-primary m-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}