*
{
	padding: 0;
	margin:0;
}
body
{
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	font-family: tahoma;
	font-size: 10px;
}
nhapkpi
{
padding:10;
    font-family: timenews;
	font-size: 10 px;

}
