*
{
	padding: 0;
	margin:0;
}
body
{
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	font-family: tahoma;
	font-size: 20 px;
}
nhapkpi
{
padding:10;
    font-family: timenews;
	font-size: 10 px;

}
nhapdvkpi
{
	font-family: Times New Roman;
	font-size: 28 px;
}
body {
background-color: white;
font-size: 13px;
;
}

.display_table{
	border-bottom-right-radius: 20px;
	/*border-bottom-left-radius: 2000px;*/
	padding-left: 10px;
	padding-right: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow:5px 5px 5px 5px #2e6da4;
}

.rows
{
	font-size: 20px;
	text-align: left;
	width: 95%;
	margin: auto;
	}

.table{
	font-size: 13px;
	text-align: color;
	width: 95%;
	margin: auto;
	text-align: left;
}

/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
	background: #B8CAE4
}

.table tr:nth-child(even){
	background: #dae5f4
}

th {
  background-color: #337ab7;
  color: white;
}