<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Login</title>

		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">

		<!-- Main CSS -->
        <link rel="stylesheet" href="/static/assets/css/mainstyle.css">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="/static/assets/js/html5shiv.min.js"></script>
			<script src="/static/assets/js/respond.min.js"></script>

		<![endif]-->
    </head>

		<!-- /Main Wrapper -->

		<!-- jQuery -->
        <script src="/assets/js/jquery-3.5.1.min.js"></script>

		<!-- Bootstrap Core JS -->
        <script src="/static/assets/js/popper.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>

		<!-- Custom JS -->
		<script src="/static/assets/js/app.js"></script>

</html>
{% block content %} {% endblock %}