{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content container-fluid">
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Ngân sách</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index">Bảng điều khiển</a></li>
                    <li class="breadcrumb-item active">Kế toán</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_categories"><i class="fa fa-plus"></i> Thêm ngân sách</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0">
                    <thead>
                        <tr>
                            <th>Số ngân sách</th>
                            <th>Tên ngân sách</th>
                            <th>Loại ngân sách</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th>Tổng doanh thu</th>
                            <th>Tổng chi phí</th>
                            <th>Tiền thuế</th>
                            <th>Ngân sách</th>
                            <th class="text-right">Tùy chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Covid</td>
                            <td>Dự án</td>
                            <td>11/09/2021</td>
                            <td>11/11/2021</td>
                            <td>2500000</td>
                            <td>1500000</td>
                            <td>10</td>
                            <td>999990</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_categories"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Hỗ trợ</td>
                            <td>Dự án</td>
                            <td>11/09/2021</td>
                            <td>11/12/2021</td>
                            <td>100000</td>
                            <td>50000</td>
                            <td>1000</td>
                            <td>49000</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_categories"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>										
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Modal -->
<div class="modal custom-modal fade" id="add_categories" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm ngân sách</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
            <div class="form-group">
                <label>Tên ngân sách</label>
                <input class="form-control" type="text" name="budget_title" placeholder="Vui lòng nhập tên ngân sách">
            </div>

                <label>Vui lòng chọn loại ngân sách cho</label>
            <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input BudgetType" type="radio" name="budget_type" id="project2" value="Dự án">
                  <label class="form-check-label" for="project2">Dự án</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input BudgetType" type="radio" name="budget_type" id="category1" value="Hạng mục">
                  <label class="form-check-label" for="category1">Hạng mục</label>
                </div>
        
            </div>

            <div class="form-group">
                <label>Ngày bắt đầu</label>
                <div class="cal-icon"><input class="form-control datetimepicker" type="text" name="budget_start_date" placeholder="Ngày bắt đầu"></div>
            </div>
            <div class="form-group">
                <label>Ngày kết thúc</label>
                <div class="cal-icon"><input class="form-control datetimepicker" type="text" name="budget_end_date" placeholder="Ngày kết thúc"></div>
            </div>

            <div class="form-group">
                <label>Doanh thu kì vọng</label>
            </div>
            <div class="AllRevenuesClass">
                <div class="row AlLRevenues">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tên doanh thu <span class="text-danger">*</span></label>
                            <input type="text" class="form-control RevenuETitle" value="" placeholder="Tên doanh thu" name="revenue_title[]" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Doanh thu <span class="text-danger">*</span></label>
                            <input type="text" name="revenue_amount[]" placeholder="Nhập số lượng" value="" class="form-control RevenuEAmount" autocomplete="off" >
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="add-more">
                            <a class="add_more_revenue" title="Thêm doanh thu" style="cursor: pointer;" ><i class="fa fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Doanh thu tổng thể <span class="text-danger">(A)</span></label>
                <input class="form-control" type="text" name="overall_revenues" id="overall_revenues1" placeholder="Doanh thu tổng thể" readonly style="cursor: not-allowed;">
            </div>

            <div class="form-group">
                <label>Chi phí dự kiến</label>
            </div>
            <div class="AllExpensesClass">
                <div class="row AlLExpenses">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tên chi phí <span class="text-danger">*</span></label>
                            <input type="text" class="form-control EXpensesTItle" value="" placeholder="Tên chi phí" name="expenses_title[]" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Chi phí <span class="text-danger">*</span></label>
                            <input type="text" name="expenses_amount[]" placeholder="Chi phí" value="" class="form-control EXpensesAmount" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="add-more">
                            <a class="add_more_expenses" title="Thêm chi phí" style="cursor: pointer;"><i class="fa fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Tổng chi phí <span class="text-danger">(B)</span></label>
                <input class="form-control" type="text" name="overall_expenses" id="overall_expenses1" placeholder="Tổng chi phí" readonly style="cursor: not-allowed;">
            </div>


            <div class="form-group">
                <label>Lợi nhuận kì vọng <span class="text-danger">( C = A - B )</span> </label>
                <input class="form-control" type="text" name="expected_profit" id="expected_profit1" placeholder="Lợi nhuận kì vọng" readonly style="cursor: not-allowed;">
            </div>

            <div class="form-group">
                <label>Tiền thuế <span class="text-danger">(D)</span></label>
                <input class="form-control" type="text" name="tax_amount" id="tax_amount1" placeholder="Tiền thuế">
            </div>

            <div class="form-group">
                <label>Tổng ngân sách <span class="text-danger">( E = C - D )</span> </label>
                <input class="form-control" type="text" name="budget_amount" id="budget_amount1" placeholder="Tổng ngân sách" readonly style="cursor: not-allowed;">
            </div>
            <div class=" submit-section">
                <button class="btn btn-primary submit-btn">Lưu lại</button>
            </div>
        </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Modal -->

<!-- Edit Modal -->
<div class="modal custom-modal fade" id="edit_categories" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thay đổi ngân sách</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form>
            <div class="form-group">
                <label>Tên ngân sách</label>
                <input class="form-control" type="text" name="budget_title" placeholder="Budgets Title">
            </div>

                <label>Vui lòng chọn loại ngân sách cho</label>
            <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input BudgetType" type="radio" name="budget_type" id="project1" value="project">
                  <label class="form-check-label" for="project1">Dự án</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input BudgetType" type="radio" name="budget_type" id="category" value="category">
                  <label class="form-check-label" for="category">Hạng mục</label>
                </div>
        
            </div>

            <div class="form-group">
                <label>Ngày bắt đầu</label>
                <div class="cal-icon"><input class="form-control datetimepicker" type="text" name="budget_start_date" placeholder="Ngày bắt đầu"></div>
            </div>
            <div class="form-group">
                <label>Ngày kết thúc</label>
                <div class="cal-icon"><input class="form-control datetimepicker" type="text" name="budget_end_date" placeholder="Ngày kết thúc"></div>
            </div>

            <div class="form-group">
                <label>Doanh thu kì vọng</label>
            </div>
            <div class="AllRevenuesClass">
                <div class="row AlLRevenues">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tên doanh thu <span class="text-danger">*</span></label>
                            <input type="text" class="form-control RevenuETitle" value="" placeholder="Tên doanh thu" name="revenue_title[]" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Doanh thu <span class="text-danger">*</span></label>
                            <input type="text" name="revenue_amount[]" placeholder="Doanh thu tổng thể" value="" class="form-control RevenuEAmount" autocomplete="off" >
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="add-more">
                            <a class="add_more_revenue" title="Doanh thu" style="cursor: pointer;" ><i class="fa fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Doanh thu tổng thể <span class="text-danger">(A)</span></label>
                <input class="form-control" type="text" name="overall_revenues" id="overall_revenues" placeholder="Doanh thu tổng thể" readonly style="cursor: not-allowed;">
            </div>

            <div class="form-group">
                <label>Chi phí dự kiến</label>
            </div>
            <div class="AllExpensesClass">
                <div class="row AlLExpenses">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tên chi phí <span class="text-danger">*</span></label>
                            <input type="text" class="form-control EXpensesTItle" value="" placeholder="Tên chi phí" name="expenses_title[]" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Chi phí <span class="text-danger">*</span></label>
                            <input type="text" name="expenses_amount[]" placeholder="Chi phí" value="" class="form-control EXpensesAmount" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="add-more">
                            <a class="add_more_expenses" title="Thêm chi phí" style="cursor: pointer;"><i class="fa fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Tổng chi phí <span class="text-danger">(B)</span></label>
                <input class="form-control" type="text" name="overall_expenses" id="overall_expenses" placeholder="Tổng chi phí" readonly style="cursor: not-allowed;">
            </div>


            <div class="form-group">
                <label>Lợi nhuận kì vọng <span class="text-danger">( C = A - B )</span> </label>
                <input class="form-control" type="text" name="expected_profit" id="expected_profit" placeholder="Lợi nhuận kì vọng" readonly style="cursor: not-allowed;">
            </div>

            <div class="form-group">
                <label>Tiền thuế <span class="text-danger">(D)</span></label>
                <input class="form-control" type="text" name="tax_amount" id="tax_amount" placeholder="Tiền thuế">
            </div>

            <div class="form-group">
                <label>Tổng ngân sách <span class="text-danger">( E = C - D )</span> </label>
                <input class="form-control" type="text" name="budget_amount" id="budget_amount" placeholder="Tổng ngân sách" readonly style="cursor: not-allowed;">
            </div>
            <div class="submit-section">
                <button class="btn btn-primary submit-btn">Lưu lại</button>
            </div>
        </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Modal -->

<!-- Delete Holiday Modal -->
<div class="modal custom-modal fade" id="delete" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Xóa </h3>
                    <p>Bạn có chắc chắn muốn xóa?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Xóa</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Hủy bỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Holiday Modal -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}