{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Page Content -->
<div class="content container-fluid">
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Thay đổi ước tính</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index">Bảng điều khiển</a></li>
                    <li class="breadcrumb-item active">Thay đổi ước tính</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Khách hàng <span class="text-danger">*</span></label>
                            <select class="select">
                                <option>-- Chọn --</option>
                                <option selected>Barry Cuda</option>
                                <option>Tressa Wexler</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Dự án <span class="text-danger">*</span></label>
                            <select class="select">
                                <option>-- Chọn --</option>
                                <option selected>Quản lý VP</option>
                                <option>Xây dựng nhà xưởng</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" value ="example@google.com">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Thuế</label>
                            <select class="select">
                                <option>-- Chọn --</option>
                                <option selected>VAT</option>
                                <option>GST</option>
                                <option>Không thuế</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Địa chỉ khách hàng</label>
                            <textarea class="form-control" rows="3"> Sân bay Tân sơn nhất TP.HCM</textarea>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Địa chỉ thanh toán</label>
                            <textarea class="form-control" rows="3">Sân bay Tân sơn nhất TP.HCM</textarea>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Ngày khởi tạo <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text" value="2021/08/10">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Ngày hết hạn <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text" value="2021/08/10">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-white">
                                <thead>
                                    <tr>
                                        <th style="width: 20px">#</th>
                                        <th class="col-sm-2">Sản phẩm</th>
                                        <th class="col-md-6">Mô tả</th>
                                        <th style="width:100px;">Đơn giá</th>
                                        <th style="width:80px;">Số lượng</th>
                                        <th>Tổng số lượng</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input class="form-control" type="text" value="Laptop" style="min-width:150px">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" value="Dữ liệu tạm" style="min-width:150px">
                                    </td>
                                    <td>
                                        <input class="form-control" style="width:100px" type="text" value="112">
                                    </td>
                                    <td>
                                        <input class="form-control" style="width:80px" type="text" value="1">
                                    </td>
                                    <td>
                                        <input class="form-control" readonly style="width:120px" type="text" value="112">
                                    </td>
                                    <td><a href="javascript:void(0)" class="text-success font-18" title="Thêm"><i class="fa fa-plus"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <input class="form-control" type="text" value="Laptop" style="min-width:150px">
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" value="Dữ liệu tạm" style="min-width:150px">
                                    </td>
                                    <td>
                                        <input class="form-control" style="width:100px" type="text" value="112">
                                    </td>
                                    <td>
                                        <input class="form-control" style="width:80px" type="text" value="1">
                                    </td>
                                    <td>
                                        <input class="form-control" readonly style="width:120px" type="text" value="112">
                                    </td>
                                    <td><a href="javascript:void(0)" class="text-danger font-18" title="Xóa"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-white">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">Tổng</td>
                                        <td style="text-align: right; width: 230px">112</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="text-align: right">Thuế</td>
                                        <td style="text-align: right;width: 230px">
                                            <input class="form-control text-right" value="0" readonly type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="text-align: right">
                                            Chiết khấu % %
                                        </td>
                                        <td style="text-align: right; width: 230px">
                                            <input class="form-control text-right" value="0" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="text-align: right; font-weight: bold">
                                            Tổng cộng
                                        </td>
                                        <td style="text-align: right; font-weight: bold; font-size: 16px;width: 230px">
                                            $ 112
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                               
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Thông tin khác</label>
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn m-r-10">Lưu & Gửi</button>
                    <button class="btn btn-primary submit-btn">Chỉ lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Page Content -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}