{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Page Content -->
<div class="content container-fluid">
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Lãnh đạo</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index">Bảng điều khiển</a></li>
                    <li class="breadcrumb-item active">Lãnh đạo</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-nowrap custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>SĐT</th>
                            <th>Dự án</th>
                            <th>Người bàn giao</th>
                            <th>Tình trạng</th>
                            <th>Ngày tạo</th>
                            <th class="text-right">Tùy chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-11.jpg"></a>
                                    <a href="#">Example name</a>
                                </h2>
                            </td>
                            <td>example@example.com</td>
                            <td>9876543210</td>
                            <td><a href="/dashboard//dashboard/project-view.html">Di chuyển văn phòng</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" title="John Doe" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Richard Miles" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    </li>
                                    <li class="dropdown avatar-dropdown">
                                        <a href="#" class="all-users dropdown-toggle" data-toggle="dropdown" aria-expanded="false">+15</a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="avatar-group">
                                                <a class="avatar avatar-xs" href="#">
                                                    <img alt="" src="/static/assets/img/profiles/avatar-02.jpg">
                                                </a>
                                                <a class="avatar avatar-xs" href="#">
                                                    <img alt="" src="/static/assets/img/profiles/avatar-09.jpg">
                                                </a>
                                                <a class="avatar avatar-xs" href="#">
                                                    <img alt="" src="/static/assets/img/profiles/avatar-10.jpg">
                                                </a>
                                                <a class="avatar avatar-xs" href="#">
                                                    <img alt="" src="/static/assets/img/profiles/avatar-05.jpg">
                                                </a>
                                                <a class="avatar avatar-xs" href="#">
                                                    <img alt="" src="/static/assets/img/profiles/avatar-11.jpg">
                                                </a>
                                                <a class="avatar avatar-xs" href="#">
                                                    <img alt="" src="/static/assets/img/profiles/avatar-12.jpg">
                                                </a>
                                                <a class="avatar avatar-xs" href="#">
                                                    <img alt="" src="/static/assets/img/profiles/avatar-13.jpg">
                                                </a>
                                                <a class="avatar avatar-xs" href="#">
                                                    <img alt="" src="/static/assets/img/profiles/avatar-01.jpg">
                                                </a>
                                                <a class="avatar avatar-xs" href="#">
                                                    <img alt="" src="/static/assets/img/profiles/avatar-16.jpg">
                                                </a>
                                            </div>
                                            <div class="avatar-pagination">
                                                <ul class="pagination">
                                                    <li class="page-item">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                            <span aria-hidden="true">«</span>
                                                            <span class="sr-only">Trang trước</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#" aria-label="Next">
                                                            <span aria-hidden="true">»</span>
                                                        <span class="sr-only">Trang kế</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li> 
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">Đang làm việc</span></td>
                            <td>10 tiếng trước</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-01.jpg"></a>
                                    <a href="#">Example name</a>
                                </h2>
                            </td>
                            <td>example@example.com</td>
                            <td>9876543210</td>
                            <td><a href="/dashboard/project-view">Xây dựng nhà xưởng</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" title="John Doe" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Richard Miles" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">Đang làm việc</span></td>
                            <td>10 tiếng trước</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-16.jpg"></a>
                                    <a href="#">Example name</a>
                                </h2>
                            </td>
                            <td>example@example.com</td>
                            <td>9876543210</td>
                            <td><a href="/dashboard/project-view.html">Xây dựng văn phòng</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" title="John Doe" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Richard Miles" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">Đang làm việc</span></td>
                            <td>10 tiếng trước</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-11.jpg"></a>
                                    <a href="#">Example name</a>
                                </h2>
                            </td>
                            <td>Examplename@example.com</td>
                            <td>9876543210</td>
                            <td><a href="/dashboard/project-view.html">Xây dựng nhà xưởng</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" title="John Doe" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Richard Miles" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">Đang làm việc</span></td>
                            <td>10 tiếng trước</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-01.jpg"></a>
                                    <a href="#">Example name</a>
                                </h2>
                            </td>
                            <td>Examplename@example.com</td>
                            <td>9876543210</td>
                            <td><a href="/dashboard/project-view.html">Xây dựng nhà xưởng</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" title="John Doe" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Richard Miles" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">Đang làm việc</span></td>
                            <td>10 tiếng trước</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-16.jpg"></a>
                                    <a href="#">Example name</a>
                                </h2>
                            </td>
                            <td>Examplename@example.com</td>
                            <td>9876543210</td>
                            <td><a href="/dashboard/project-view.html">Xây dựng nhà xưởng</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" title="John Doe" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Richard Miles" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">Đang làm việc</span></td>
                            <td>10 tiếng trước</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-11.jpg"></a>
                                    <a href="#">Example name</a>
                                </h2>
                            </td>
                            <td>Examplename@example.com</td>
                            <td>9876543210</td>
                            <td><a href="/dashboard/project-view.html">Xây dựng nhà xưởng</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" title="John Doe" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Richard Miles" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">Đang làm việc</span></td>
                            <td>10 tiếng trước</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-01.jpg"></a>
                                    <a href="#">Example name</a>
                                </h2>
                            </td>
                            <td>Examplename@example.com</td>
                            <td>9876543210</td>
                            <td><a href="/dashboard/project-view.html">Xây dựng nhà xưởng</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" title="John Doe" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Richard Miles" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">Đang làm việc</span></td>
                            <td>10 tiếng trước</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="#" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-16.jpg"></a>
                                    <a href="#">Example name</a>
                                </h2>
                            </td>
                            <td>Examplename@example.com</td>
                            <td>9876543210</td>
                            <td><a href="/dashboard/project-view.html">Xây dựng nhà xưởng</a></td>
                            <td>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" title="John Doe" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Richard Miles" data-toggle="tooltip"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-inverse-success">Đang làm việc</span></td>
                            <td>10 tiếng trước</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}