{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content container-fluid">
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Thời gian biểu</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index">Thời gian biểu</a></li>
                    <li class="breadcrumb-item active">Thời gian biểu</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_todaywork"><i class="fa fa-plus"></i> Thêm công việc</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Nhân viên</th>
                            <th>Ngày</th>
                            <th>Dự án</th>
                            <th class="text-center">Thời gian chỉ định</th>
                            <th class="text-center">Giờ</th>
                            <th class="d-none d-sm-table-cell">Mô tả</th>
                            <th class="text-right">Tùy chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-02.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Ra mắt sản phẩm</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">7</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-09.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Quản lý dự án</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">12</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-10.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Gặp mặt khách hàng</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">12</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-05.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Quản lý sản phẩm</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">12</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-11.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Trưởng phòng</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Dời văn phòng</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">7</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-12.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Dời văn phòng</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">12</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-13.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Gặp mặt khách hàng</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">12</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-01.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Ra mắt sản phẩm mới</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">12</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-16.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Dời văn phòng</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">9</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-04.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Dời văn phòng</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">12</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-03.jpg"></a>
                                    <a href="/dashboard/profile">Example name <span>Nhân viên</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Ra mắt sản phẩm</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">12</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="/dashboard/profile" class="avatar"><img alt="" src="/static/assets/img/profiles/avatar-08.jpg"></a>
                                    <a href="/dashboard/profile">Example <span>Trưởng phòng</span></a>
                                </h2>
                            </td>
                            <td>11/08/2021</td>
                            <td>
                                <h2>Dời văn phòng</h2>
                            </td>
                            <td class="text-center">20</td>
                            <td class="text-center">12</td>
                            <td class="d-none d-sm-table-cell col-md-4">Chuẩn bị ra mắt sản phẩm mới.</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_workdetail"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Today Work Modal -->
<div id="add_todaywork" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm chi tiết công việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Dự án <span class="text-danger">*</span></label>
                            <select class="select">
                                <option>Dời văn phòng</option>
                                <option>Ra mắt sản phẩm mới</option>
                                <option>Gặp mặt khách hàng</option>
                                <option>Quản lý sản phẩm</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Hạn chót <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control" type="text" value="11/08/2021" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Tổng thời gian <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="100" readonly>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Thời gian còn lại <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="60" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Ngày <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Giờ <span class="text-danger">*</span></label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mô tả <span class="text-danger">*</span></label>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Lưu lại</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Today Work Modal -->

<!-- Edit Today Work Modal -->
<div id="edit_todaywork" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thay đổi chi tiết công việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Dự án <span class="text-danger">*</span></label>
                            <select class="select">
                                <option>Dời văn phòng</option>
                                <option>Ra mắt sản phẩm mới</option>
                                <option>Gặp mặt khách hàng</option>
                                <option>Quản lý sản phẩm</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Hạn chót <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control" type="text" value="11/08/2021" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Tổng thời gian <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="100" readonly>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Thời gian còn lại <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="60" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Ngày <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" value="03/03/2019" type="text">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Giờ <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="9">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mô tả <span class="text-danger">*</span></label>
                        <textarea rows="4" class="form-control">Chuẩn bị ra mắt sản phẩm mới.</textarea>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Lưu lại</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Today Work Modal -->

<!-- Delete Today Work Modal -->
<div class="modal custom-modal fade" id="delete_workdetail" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Xóa chi tiết công việc</h3>
                    <p>Bạn có chắc chắn muốn xóa?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Xóa</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Today Work Modal -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}