
{% extends "coureses/templates/layouts/base_nangluc_ajax.html" %}

<html>


    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">

                <button type="button" class="btn btn-lg btn-primary" disabled>BƯỚC 3:</button>
                <button type="button" class="btn btn-info btn-lg" >ĐÁNH GIÁ NĂNG LỰC NHÂN VIÊN:</button>


                </h2>
                <ul class="breadcrumb">
                    <!-- link bang dieu khiển -->
                    <li class="breadcrumb-item"><a href="{% url 'list_nangluc' %}">Danh mục năng lực</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Khung_nangluc_list' %}">Khung Tiêu chuẩn năng lực</a></li>
					<li class="breadcrumb-item"><a href="{% url 'danhgianangluc_view' %}">Đánh giá năng lực</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'kequa_nangluc_list' %}">Kết quả Đánh giá </a></li>

                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="{% url 'add_danhgia_nangluc' %}" class="btn add-btn"><i class="fa fa-plus"></i> Thêm đợt đánh giá Năng lực</a>
                 <div class="view-icons">
                    <a href="{% url 'Danhgia_nangluc_list2' %}" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                    <a href="{% url 'Danhgia_nangluc_list' %}" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
<body>

<!------------------------Biểu đồ ---------------------------------------------------------------------------------------------------------------->
<div class="row">
    <div class="col-md-12">
		<div class="row">
                                <!------------------------Biểu đồ char1 ------->
								<div class="col-md-6 text-center">
									<div class="card">
										<div class="card-body">
											<h3 class="card-title red">BIỂU ĐỒ NĂNG LỰC: </h3>
                                           <h6 class="card-title">Tiêu chuẩn/Tự đánh giá/Đơn vịđánh giá </h6>
                                            <div class="col-md-12">
                                                <div class="col-md-10">
                                                   <canvas id="myChart1" width="200" height="300"></canvas>
                                                       <script>
                                                                var ctx = document.getElementById('myChart1').getContext('2d');
                                                                ctx.canvas.width = 80;
																ctx.canvas.height = 80;

                                                                var myChart1 = new Chart(ctx, {
                                                                    type: 'radar',
                                                                    data: {
                                                              labels: [{% for product in productss %}  '{{ product.TenNangluc_congviec|truncatewords:3 }}',  {% endfor %}],
                                                                        datasets: [{
                                                                    label: 'Mức NL tiêu chuẩn',
                                                                    data: [{% for product in productss %}  '{{ product.TenNangluc_congviec.Muc_thanhthao_nluc }}',  {% endfor %}],

                                                                    fill: true,
                                                                    backgroundColor: 'rgba(255, 99, 132, 0.1)',

                                                                    borderColor: 'rgb(255, 99, 100)',
                                                                    pointBackgroundColor: 'rgb(255, 99, 132)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 32, 0.6)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 32, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 32, 0.8)',


                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                                                                  }, {
                                                                    label: 'Tự đánh giá',
                                                                    data: [{% for product in productss %}  '{{ product.tu_danhgia_dapung }}',  {% endfor %}],
                                                                    fill: true,
                                                                    backgroundColor: [
                                                                      'rgba(255, 0, 255, 0.2)',
                                                                      'rgba(155, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',

                                                                    ],

                                                                    borderColor: 'rgb(54, 162, 235)',
                                                                    pointBackgroundColor: 'rgb(54, 162, 235)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 132, 0.1)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 132, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 132, 0.8)',

                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                                                                  }, {
                                                                    label: 'Quản lý ĐG',
                                                                    data: [{% for product in productss %}  '{{ product.Quanly_danhgia }}',  {% endfor %}],
                                                                    fill: true,
                                                                    backgroundColor: 'rgba(255, 99, 132, 0.1)',
                                                                    borderColor: 'rgb( 0, 245, 255)',
                                                                    pointBackgroundColor: [

                                                                      'rgb( 0, 245, 255)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',

                                                                    ],


                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                                                                  }]

                                                                    },
                                                                    options: {
                                                                        scales: {
                                                                            y: {
                                                                                beginAtZero: true
                                                                            }
                                                                        }
                                                                    }
                                                                });
                                                                </script>

                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <!------------------------Biểu đồ char2------->
                                <div class="col-md-6 text-center">
                                <div class="card">
										<div class="card-body">
											<h3 class="card-title">BIỂU ĐỒ NĂNG LỰC </h3>
                                            <h6 class="card-title">Tiêu chuẩn/Tự đánh giá/Đơn vịđánh giá </h6>
                                            <div class="col-md-12">
                                                <div class="col-md-10">
                                                   <canvas id="myChart2" width="200" height="300"></canvas>
                                                               <script>
                                                                var ctx = document.getElementById('myChart2').getContext('2d');
                                                                ctx.canvas.width = 100;
																ctx.canvas.height = 100;
                                                                var myChart2 = new Chart(ctx, {
                                                                    type: 'bar',
                                                                    data: {
                                                              labels: [{% for product in productss %}  '{{ product.TenNangluc_congviec|truncatewords:3 }}',  {% endfor %}],
                                                                        datasets: [{
                                                                    label: 'Mức NL tiêu chuẩn',
                                                                    data: [{% for product in productss %}  '{{ product.TenNangluc_congviec.Muc_thanhthao_nluc }}',  {% endfor %}],

                                                                    fill: true,
                                                                   backgroundColor: [
                                                                      'rgba(155, 99, 132, 0.8)',
                                                                      'rgba(155, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',

                                                                    ],

                                                                    borderColor: [

                                                                      'rgb(0, 255, 127)',
                                                                      'rgb(75, 192, 192)',
                                                                      'rgb(54, 162, 235)',
                                                                      'rgb(153, 102, 255)',
                                                                      'rgb(201, 203, 207)'
                                                                    ],
                                                                    pointBackgroundColor: 'rgb(255, 99, 132)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 32, 0.6)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 32, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 32, 0.8)',

                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                                                                  }, {
                                                                    label: 'Tự đánh giá',
                                                                    data: [{% for product in productss %}  '{{ product.tu_danhgia_dapung }}',  {% endfor %}],
                                                                    fill: true,
                                                                    backgroundColor: [
                                                                      'rgba(155, 99, 132, 0.2)',
                                                                      'rgba(155, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',

                                                                    ],

                                                                    borderColor: 'rgb(0, 162, 235)',
                                                                    pointBackgroundColor: 'rgb(54, 162, 235)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 132, 0.1)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 132, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 132, 0.8)',

                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                                                                  }, {
                                                                    label: 'Quản lý ĐG',
                                                                    data: [{% for product in productss %}  '{{ product.Quanly_danhgia }}',  {% endfor %}],
                                                                    fill: true,
                                                                    backgroundColor: [


                                                                      'rgb(255, 106, 106, 04)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',

                                                                    ],

                                                                    borderColor: 'rgb(0, 245, 255)',
                                                                    pointBackgroundColor: 'rgb(54, 162, 235)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 132, 0.1)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 132, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 132, 0.8)',

                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                                                                  }]

                                                                    },
                                                                    options: {
                                                                        scales: {
                                                                            y: {
                                                                                beginAtZero: true
                                                                            }
                                                                        }
                                                                    }
                                                                });
                                                                </script>

                                                        </div>
                                                                                            </div>
                                        </div>
                                        </div>
                                </div>
							</div>
	</div>
</div>
<!-----------------------Biểu đồ kết thúc--------------------------------------------------------------------------------------------------------->
<!--.....................Lọc dữ liệu............................................................................................................-->
    <form method='POST' action=''>{% csrf_token %}
         <div class="container text-center">
            <div class="row align-items-center">

                  <div class="col-md-3">
                       <input type="text" class="form-control" placeholder="Đợt đánh giá năng lực ex: 11-2022" id={{form.Landanhgia_nagluc}}
                   </div>
                  <div class="col-md-3">
                      <select class="form-control" placeholder="Chức danh xây thiết lập Khung năng lực" {{form.Nhanvien_dg_nangluc}} </select>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="{{form.Xuất_Word}}"<label class="form-check-label">TB Kết quả ĐGNL</label>

                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id={{form.Xuất_Excel}} <label class="form-check-label">Xuất Excel</label>
                  </div>

                  <div class="col-6 col-md-3">
                      <input class="btn btn-warning btn-block badge-pill" style="" type="submit" value='TÌM, LỌC' >
                </div>

            </div>
         </div>
    </form>
<!-------------------------Kết thúc lọc dữ liệu-------------------------------------------------------------------------------------------------->
</div>

<div class="page-header">



<div class="container">
    <div class="row form-group" style="margin-top:30px;">
        <div class="col-lg-2">
            <button class="btn btn-block btn-success" id="insert_btn" data-toggle="modal" data-target="#insert_data">THÊM</button>
        </div>
        <div class="col order-last">
            <button class="btn btn-block btn-info" id="update_btn">SỬA</button>
            <button class="btn btn-block btn-success" id="save_all_btn" style="display:none;margin-top:0px">LƯU</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
              <div class="alert alert-success" id="upt_success" style="display:none">
              </div>
               <div class="alert alert-danger" id="upt_error" style="display:none">
              </div>
        </div>
    </div>
 </div>
<!-- /Page Content -->

<div class="row">
        <div class="col-md-12">
           <div class="table-responsive-sm">
               {% if students %}
                  <table class="table table-striped custom-table datatable">
                    <thead>
                    <tr class="table-success">
                         <th scope="col" style="width: 5%">id</th>
                         <th scope="col" style="width: 45%">Tên năng lực</th>
                         <th scope="col" style="width: 15%">Cấp trên giá </th>
                         <th scope="col" style="width: 15%">Tự Đgiá </th>
                         <th scope="col" style="width: 10%">Điểm KQ Đ.Giá </th>
                         <th class="text-right no-sort" style="width: 10%">Tùy chỉnh</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>
                            <h6 class="table-avatar">
                                <a href="{% url 'nangluc_chitiet' student.TenNangluc_congviec.nangluc_cv_id %}">
                               {{student.TenNangluc_congviec|truncatewords:12}} -
                               <small>Mức QT: {{student.TenNangluc_congviec.Muc_quantrong_nluc}}</small></a>
                            </h6>
                        </td>
                        <td class="editable" data-type="Quanly_danhgia">{{ student.Quanly_danhgia }}</td>
                        <td class="editable" data-type="tu_danhgia_dapung">{{ student.tu_danhgia_dapung }}</td>
                        <td>{{ student.Ketqua_danhgia }}</td>
                        <td class="td-block"><button class="btn-block btn-delete btn-info"  style="font-size:16px;color:yellow">Xóa</button></td>
                    </tr>

                    {% endfor %}
                    </tbody>
                          <tfoot>
                       <tr class="table-warning" >
                           <td colspan="1" ></td>
                           <td class="text-left" >Tổng mức quan trọng : {{total_mucqt}}
                           ; Điểm chuẩn:{{total_diemchuan}}(Mức quan trọng x mức T.thạo chuẩn); Điểm đạt:{{total_diemcdat}}
                           </td>
                           <td class="text-left" >{{total_ql}}</td>
                           <td class="text-left" >{{total_tu_dg}}</td>
                           <td colspan="text-left">{{total_chung}}</td>
                           <td class="text-left" >Kết quả {{ketqua_nangluc}}</td>
                        </tr>
                      </tfoot>

                </table>
               {% else %}
                  <h4 class="text-center alert alert-warning">Chưa có dữ liệu </h4>
               {% endif %}

            </div>
        </div>
    </div>

<!-- Modal -->
<div id="insert_data" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm dữ liệu</h4>
           <button type="button" class="close" data-dismiss="modal">&times; </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label>Tên năng lực : </label>
              <input type="text" name="TenNangluc_congviec" id="ins_TenNangluc_congviec" class="form-control" placeholder="TenNangluc_congviec">
          </div>
          <div class="form-group">
              <label>QUẢN LÝ ĐÁNH GIÁ NĂNG LỰC: </label>
              <input type="text" name="Quanly_danhgia" id="ins_Quanly_danhgia" class="form-control" placeholder="Quanly_danhgia">
          </div>

           <div class="form-group">
                  <label>TỰ ĐÁNH GIÁ : </label>
              <select name="tu_danhgia_dapung" class="form-control" id="ins_tu_danhgia_dapung">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
          </div>
          <div class="form-group">
             <div class="col-lg-4">
                <input type="button" name="submit" class="btn btn-block btn-info btn-insert-data" value="THÊM DỮ LIỆU">
            </div>
         </div>
          <div class="form-group">
              <div class="alert alert-success" id="ins_success" style="display:none">
              </div>
               <div class="alert alert-danger" id="ins_error" style="display:none">
              </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>
<script>
    $(".btn-insert-data").click(function(){
        var TenNangluc_congviec=$("#ins_TenNangluc_congviec").val();
        var Quanly_danhgia=$("#ins_Quanly_danhgia").val();
        var tu_danhgia_dapung=$("#ins_tu_danhgia_dapung").val();
        if(TenNangluc_congviec==""){
            $("#ins_error").text("Nhập tên")
            $("#ins_error").show()
            return;
        }
        else if(Quanly_danhgia==""){
            $("#ins_error").text("Please Enter TenNangluc_congviec")
            $("#ins_error").show()
            return;
        }
        else{
                $(".btn-insert-data").attr("disabled","disabled");
                $(".btn-insert-data").text("Inserting... Please Wait..");
            $.ajax({
                url:'{% url 'insert_nangluc' %}',
                type:'POST',
                data:{TenNangluc_congviec:TenNangluc_congviec,Quanly_danhgia:Quanly_danhgia,tu_danhgia_dapung:tu_danhgia_dapung}
            })
            .done(function(response){
                if(response['error']==false){
                    $("#ins_error").hide();
                    $("#ins_success").text(response['errorMessage']);
                    $("#ins_success").show();
                    var html_data="<tr><td>"+response['id']+"</td><td class='editable' data-type='TenNangluc_congviec'>"+TenNangluc_congviec+"</td><td class='editable' data-type='Quanly_danhgia'>"+Quanly_danhgia+"</td><td class='editable' data-type='tu_danhgia_dapung'>"+tu_danhgia_dapung+"</td><td>"+response['Diem_congviec']+"</td><td class='btn-td-block'><button class='btn btn-block btn-delete btn-info'>DELETE</button></td></tr>";
                    $(".table tbody").append(html_data);
                }
                else{
                    $("#ins_success").hide();
                    $("#ins_error").text(response['errorMessage']);
                    $("#ins_error").show();
                }
            })
            .fail(function(){
                 $("#ins_success").hide();
                 $("#ins_error").text("Something Went Wrong!");
                 $("#ins_error").show();
            })
            .always(function(){
                $(".btn-insert-data").removeAttr("disabled");
                $(".btn-insert-data").text("INSERT STUDENT");
            })
        }
    })
    $("#update_btn").click(function(){
            $("#update_btn").hide();
            $("#save_all_btn").show();

       $(".editable").each(function(){
           var value=$(this).text();
           var types=$(this).data('type');
           if(types!='tu_danhgia_dapung'){
                var html_data="<input type='text' name='"+types+"'  class='form-control input_"+types+" input_data' value='"+value+"'>";
                $(this).html(html_data);
           }
           else{
                var html_data="<select name='"+types+"'  class='form-control input_"+types+" input_data'>";
                if(value=="3"){
                    html_data+="<option selected>3</option><option>1</option><option>0</option><option>4</option><option>5</option>";
                }
                else{
                    html_data+="<option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option selected>5</option>";
                }
                html_data+="</select>";
                $(this).html(html_data);
           }
        });
    });

    $("#save_all_btn").click(function(){
        $("#save_all_btn").attr("disabled","disabled");
        $("#save_all_btn").text("Saving Data....");

        var json_data=[];
        $(".input_data").each(function(){
                var value=$(this).val();
                var parent_html=$(this).parent();
                parent_html.html(value);
                $(this).remove();
         });
        $("tbody tr").each(function(){
             var id=$(this).children().eq(0).text()
             var TenNangluc_congviec=$(this).children().eq(1).text()
             var Quanly_danhgia=$(this).children().eq(2).text()
             var tu_danhgia_dapung=$(this).children().eq(3).text()

             var single_data={"id":id,"TenNangluc_congviec":TenNangluc_congviec, "Quanly_danhgia":Quanly_danhgia,"tu_danhgia_dapung":tu_danhgia_dapung};
             json_data.push(single_data);
        });

        var string_data=JSON.stringify(json_data)
        $.ajax({
                url:'{% url 'update_all_nangluc' %}',
                type:'POST',
                data:{data:string_data}
            })
            .done(function(response){
                if(response['error']==false){
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                }
                else{
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
            })
            .fail(function(){
                 $("#upt_success").hide();
                 $("#upt_error").text("Something Went Wrong!");
                 $("#upt_error").show();
            })
            .always(function(){
                 $("#save_all_btn").removeAttr("disabled");
                 $("#save_all_btn").text("LƯU LẠI");
                 $("#update_btn").show();
                 $("#save_all_btn").hide();
            })

    });

    $(document).on("click",".btn-delete",function(){
            var this_html=$(this);
            this_html.attr("disabled","disabled");
            this_html.text("DELETING....");
            var id=this_html.parent().parent().children().first().text();
            //console.log(id);
            $.ajax({
                url:'{% url 'delete_data_nangluc' %}',
                type:'POST',
                data:{id:id}
            })
            .done(function(response){
                if(response['error']==false){
                    this_html.parent().parent().remove();
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                }
                else{
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
            })
            .fail(function(){
                 $("#upt_success").hide();
                 $("#upt_error").text("Something Went Wrong!");
                 $("#upt_error").show();
            });
    });
</script>
</body>
</html>