{% extends "layouts/base_no.html" %}
{% block title %} Danh sách Bộ phận {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login/Regiser</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS only -->

    <style>

    h1 {
      color: red;
      font: Arial Narrow
      text-align:;
    }
    .image-thumbail{
        height: 600px;

        object-fit: cover;
    }

        .login--wrapper {
            display: flex;
            align-items: center;
            height: 80vh;
            justify-content: center;
        }

    </style>
<!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h1 class=""> KHUNG NĂNG LỰC NHÂN VIÊN</h1>
                <ul class="breadcrumb">
                    <!-- link bang dieu khiển -->
                    <li class="breadcrumb-item"><a href="{% url 'list_nangluc' %}">Danh mục năng lực</a></li>

					<li class="breadcrumb-item"><a href="{% url 'danhgianangluc_view_nv' %}">Tự Đánh giá </a></li>
                    <li class="breadcrumb-item"><a href="{% url 'danhgianangluc_view' %}">Quản lý Đánh giá năng lực</a></li>

                    <li class="breadcrumb-item"><a href="{% url 'kequa_nangluc_list' %}">Kết quả Đánh giá </a></li>


                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="{% url 'add_nangluc' %}" class="btn add-btn"><i class="fa fa-plus"></i> Thiết lập Khung Năng lực</a>
                <div class="view-icons">
                    <a href="{% url 'Khung_nangluc_list' %}" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                    <a href="{% url 'Congviec_nangluc_list_2' %}" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

<body class="md-12">
    <div class="container">
               {% if request.user.is_authenticated %}
                <p>Hello {{request.user}}</p>
                {% endif %}
<div class="row">
    <div class="col-md-4">
          <div class="card">
          <div class="card-header">
            <h3 style="color:red"> CHỨC DANH CÔNG VIỆC</h3>
          </div>
          <ul class="list-group list-group-flush">
                  {% for tenlop in chucdanh_CV7 %}
                  <li class="list-group-item">
                        <a href="{% url 'Congviec_nangluc_list_2' %}?chucdanh_CV={{tenlop.Ten_vitri_full}}">
                         {{tenlop.Ten_vitri_full}}
                          </a>
                     </li>
                 {% endfor %}

              <li class="list-group-item">
                      <a href="{% url 'Congviec_nangluc_list_2' %}">Tất cả</a>
                  </li>
            <a href="{% url 'add_khung_nanglucchuyenmon' %}" class="btn btn-success btn-block badge-pill">Thêm Khung năng lực </a>
          </ul>
        </div>
    </div>

    <div class="col-md-8
        <div class="row">


    <div class="row">
        <div class="col-md-12">
              <div class="card-header">
               <h3 style="color:green"> KHUNG NĂNG LỰC </h3>
              </div>


                <a class="btn btn-warning float-right" href="{% url 'Khung_nangluc_intatca' %}">Xuất Excel tất cả</a>



            <div class="table-responsive-sm">
                {% if list_nangluc %}
                <table class="table table-striped custom-table datatable">
                    <thead>
                        <tr class="table-success">
                            <th scope="col" style="width: 5%">id</th>
                            <th scope="col"style="width: 25%">Tên năng lực</th>
                            <th scope="col"style="width: 25%">M.Quan trọng </th>
                            <th scope="col"style="width: 20%">M.Th_thạo </th>
                            <th scope="col"style="width: 15%">Loại năng lực </th>
                            <th scope="col"style="width: 10%">Điểm </th>
                            <th class="text-right no-sort" style="width: 5%">Tùy chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sto in list_nangluc %}
                        <tr>
                             <td>
                                <a href=""> {{forloop.counter}} <a/>
                             </td>
                           <td>
                                <h2 class="table-avatar">
                                    <a href="{% url 'nangluc_chitiet' sto.nangluc_cv_id %}">{{sto.nangluc_cv}}<span></span></a>
                                </h2>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="">{{sto.Muc_quantrong_nluc}}<span></span></a>
                                </h2>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="">{{sto.Muc_thanhthao_nluc}}<span></span></a>
                                </h2>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="">{{sto.nangluc_cv.loai_nang_luc.name}}<span></span></a>
                                </h2>
                            </td>
                            <td>{{sto.Diem_tieuchuan}}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{% url 'update_Congviec_nangluc' sto.id %}"><i class="fa fa-pencil m-r-5"></i> Sửa</a>
                                        <a class="dropdown-item" href="{% url 'del_Congviec_nangluc' sto.id %}"><i class="fa fa-trash-o m-r-5"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4 class="text-center alert alert-warning">No record </h4>
                {% endif %}
            </div>
        </div> <!-- /md-12-------->
    </div><!-- /rows------->

        </div>
    </div>
    </div>

    </div>
</body>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

