{% extends "layouts/base.html" %}
{% block title %} Danh sách Bộ phận {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<!-- Page Content -->
<div class="content container-fluid">
	  <!-- Page Header -->

	  <!-- Page Header -->
	  <div class="page-header">
		  <div class="row align-items-center">
			  <div class="col">
				  <h3 class="page-title">ĐỊNH BIÊN LÀM VIỆC THEO HÀNH CHÍNH</h3>
				  <ul class="breadcrumb">
					  <!-- link bang dieu khiển -->
					  <li class="breadcrumb-item"><a href="{% url 'dinhbien_th' %}">Tổng hợp Định biên</a></li>
					  <li class="breadcrumb-item active"><a href="{% url 'dinhbien_ca_list' %}"> Định biên ca, kíp</a></li>
				  </ul>
			  </div>
			  <div class="col-auto float-right ml-auto">
				  <a href="{% url 'add_dinhbiehc'%}" class="btn add-btn"><i class="fa fa-plus"></i> Thêm định biên</a>
				  <div class="view-icons">
					  <a href="" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
					  <a href="" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
				  </div>
			  </div>
		  </div>
	  </div>
	  <!-- /Page Header -->

	  <!-- Search Filter----------------------------- -->

	  <!-- Search Filter----------------------------- -->
	  <form method='POST' action=''>{% csrf_token %}
		  <div class="form-row">
			  <div class="form-group col-md-2">

				  <select  class="form-control" placeholder = "Thuộc Tên đơn vị"{{form.don_vi}}
				  </select>

			  </div>
			  <div class="form-group col-md-3">
				  <select  class="form-control" placeholder = "Thuộc Bộ phận"{{form.bo_phan}}
				  </select>
			  </div>


			<div class="form-check">
				  <input class="form-check-input" type="checkbox" id="{{form.Xuất_Excel}}"
				  <label class="form-check-label">
					  Xuất Excel
				  </label>
			  </div>
			  <div class= "col-md-2 text-right">
				  <input class="btn btn-success btn-block badge-pill" style="" type="submit" value='Tìm kiếm'/>
			  </div>
		  </div>
	  </form>
	  <!-- /Search Filter ------------------------------------------------------>
	  <!-- /add KPI------------------------------------------------------>
	<div class="row">
		<div class="col-md-12">
            <div class="table-responsive-sm">
            {% if queryset %}
                <table class="table table-striped custom-table datatable">
                     <thead>
                        <tr class="table-success">
                             <th scope="col" style="width: 5%">id</th>
							 <th scope="col" style="width: 15%">Chức vụ/Đơn vị/Tổ</th>
							 <th scope="col" style="width: 5%">ĐV. tính</th>
							 <th scope="col" style="width: 5%">T.xuất</th>
							 <th scope="col" style="width: 45%">Nội dung công việc</th>
							 <th scope="col" style="width: 5%">Kh.lương năm</th>
							 <th scope="col" style="width: 5%">số phút/lần</th>
							<th scope="col" style="width: 5%"> Phút/năm</th>
							<th class="text-RIGHT no-sort" style="width: 10%">Sửa/Xóa</th>
	                      </tr>
                    </thead>
                    <tbody>
                        {% for sto in queryset %}
                            <tr >
                                <th class="" scope="row">{{sto.id}}</th>
                                 <td>
									<h2 class="table-avatar">
									<a href="{% url 'update_dinhbienhc' sto.id %}"> {{sto.chuc_vu}}<span>{{sto.don_vi}}, {{sto.to_nhom}}</span></a>
									</h2>
								  </td>
								  <td>{{sto.donvi_tinh}}</td>
								  <td>{{sto.tan_xuat_lviec}}</td>
								  <td>{{sto.Noi_dung_cviec}}</td>
								  <td>{{sto.khoiluong_nam}}</td>
								  <td>{{sto.sophut_th_1lan}}</td>
								  <td>{{sto.Tong_phut_1nam}}</td>
                                <td >
                                    <a href="{% url 'update_dinhbienhc' sto.id %}" class="btn btn-info"><i class="fa fa-pencil" style="font-size:14px;color:yellow"></i> </a>
                                    <form action="{% url 'del_dinhbienhc' sto.id %}" method="post" class="d-inline">
                                    <input type="submit"  class="btn btn-success" class="fa fa fa-trash" style="font-size:14px;color:white" value="XÓA">
                                        {% csrf_token %}
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                      <h4 class="text-center alert alert-warning">No record </h4>
            {% endif %}
            </div>
        </div>   <!-- /md-12-------->
    </div><!-- /rows------->
</div>
<!-- /Page Content -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}