<html>

{% block title %} ĐÁNH GIÁ NĂNG LỰC {% endblock %}
<head>
    	<!-- Chart JS -->
	<script src="/static/assets/plugins/morris/morris.min.js"></script>
	<script src="/static/assets/plugins/raphael/raphael.min.js"></script>
	<script src="/static/assets/js/chart.js"></script>
    <script src="/static/assets/js/Chart.min.js"></script>
	<script src="/static/assets/js/line-chart.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
     <form method='POST' action=''>{% csrf_token %}
         <div class="card">
         <div class="row">
        <div class="col-lg-12">
           <div class="col-md-2"><input type="text" class="form-control" placeholder="Đợt đánh giá năng lực ex: 11-2022" id={{form.Landanhgia_nagluc}} </div>
          <div class="col-md-2"><select class="form-control" placeholder="Chức danh xây thiết lập Khung năng lực" {{form.Nhanvien_dg_nangluc}} </select> </div>
          <div class="col-6 col-md-2">  <input class="btn btn-success btn-block badge-pill" style="" type="submit" value='LỌC' >
        </div>
             </div>
             </div>
    </form>

<!------------------------Biểu đồ ------->
<div class="row">
						<div class="col-md-12">
							<div class="row">
                                <!------------------------Biểu đồ char1 ------->
								<div class="col-md-6 text-center">
									<div class="card">
										<div class="card-body">
											<h3 class="card-title">Biểu đồ năng lực</h3>
                                            <div class="col-md-12">
                                                <div class="col-md-10">
                                                   <canvas id="myChart1" width="200" height="300"></canvas>
                                                       <script>
                                                                var ctx = document.getElementById('myChart1').getContext('2d');
                                                                ctx.canvas.width = 80;
																ctx.canvas.height = 80;

                                                                var myChart1 = new Chart(ctx, {
                                                                    type: 'radar',
                                                                    data: {
                                                              labels: [{% for product in productss %}  '{{ product.TenNangluc_congviec|truncatewords:3 }}',  {% endfor %}],
                                                                        datasets: [{
                                                                    label: 'Mức NL tiêu chuẩn',
                                                                    data: [{% for product in productss %}  '{{ product.TenNangluc_congviec.Muc_thanhthao_nluc }}',  {% endfor %}],

                                                                    fill: true,
                                                                    backgroundColor: 'rgba(255, 99, 132, 0.1)',

                                                                    borderColor: 'rgb(255, 99, 100)',
                                                                    pointBackgroundColor: 'rgb(255, 99, 132)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 32, 0.6)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 32, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 32, 0.8)',


                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                                                                  }, {
                                                                    label: 'Tự đánh giá',
                                                                    data: [{% for product in productss %}  '{{ product.tu_danhgia_dapung }}',  {% endfor %}],
                                                                    fill: true,
                                                                    backgroundColor: [
                                                                      'rgba(255, 0, 255, 0.2)',
                                                                      'rgba(155, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',

                                                                    ],

                                                                    borderColor: 'rgb(54, 162, 235)',
                                                                    pointBackgroundColor: 'rgb(54, 162, 235)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 132, 0.1)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 132, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 132, 0.8)',

                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                                                                  }, {
                                                                    label: 'Quản lý ĐG',
                                                                    data: [{% for product in productss %}  '{{ product.Quanly_danhgia }}',  {% endfor %}],
                                                                    fill: true,
                                                                    backgroundColor: 'rgba(255, 99, 132, 0.1)',
                                                                    borderColor: 'rgb( 0, 245, 255)',
                                                                    pointBackgroundColor: [

                                                                      'rgb( 0, 245, 255)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',

                                                                    ],


                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                                                                  }]

                                                                    },
                                                                    options: {
                                                                        scales: {
                                                                            y: {
                                                                                beginAtZero: true
                                                                            }
                                                                        }
                                                                    }
                                                                });
                                                                </script>

                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <!------------------------Biểu đồ char2------->
                                <div class="col-md-6 text-center">
                                <div class="card">
										<div class="card-body">
											<h3 class="card-title">Biểu đồ năng lực</h3>
                                            <div class="col-md-12">
                                                <div class="col-md-10">
                                                   <canvas id="myChart2" width="200" height="300"></canvas>
                                                               <script>
                                                                var ctx = document.getElementById('myChart2').getContext('2d');
                                                                ctx.canvas.width = 100;
																ctx.canvas.height = 100;
                                                                var myChart2 = new Chart(ctx, {
                                                                    type: 'bar',
                                                                    data: {
                                                              labels: [{% for product in productss %}  '{{ product.TenNangluc_congviec|truncatewords:3 }}',  {% endfor %}],
                                                                        datasets: [{
                                                                    label: 'Mức NL tiêu chuẩn',
                                                                    data: [{% for product in productss %}  '{{ product.TenNangluc_congviec.Muc_thanhthao_nluc }}',  {% endfor %}],

                                                                    fill: true,
                                                                   backgroundColor: [
                                                                      'rgba(155, 99, 132, 0.8)',
                                                                      'rgba(155, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',

                                                                    ],

                                                                    borderColor: [

                                                                      'rgb(0, 255, 127)',
                                                                      'rgb(75, 192, 192)',
                                                                      'rgb(54, 162, 235)',
                                                                      'rgb(153, 102, 255)',
                                                                      'rgb(201, 203, 207)'
                                                                    ],
                                                                    pointBackgroundColor: 'rgb(255, 99, 132)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 32, 0.6)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 32, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 32, 0.8)',

                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                                                                  }, {
                                                                    label: 'Tự đánh giá',
                                                                    data: [{% for product in productss %}  '{{ product.tu_danhgia_dapung }}',  {% endfor %}],
                                                                    fill: true,
                                                                    backgroundColor: [
                                                                      'rgba(155, 99, 132, 0.2)',
                                                                      'rgba(155, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',

                                                                    ],

                                                                    borderColor: 'rgb(0, 162, 235)',
                                                                    pointBackgroundColor: 'rgb(54, 162, 235)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 132, 0.1)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 132, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 132, 0.8)',

                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                                                                  }, {
                                                                    label: 'Quản lý ĐG',
                                                                    data: [{% for product in productss %}  '{{ product.Quanly_danhgia }}',  {% endfor %}],
                                                                    fill: true,
                                                                    backgroundColor: [


                                                                      'rgb(255, 106, 106, 04)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.2)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.2)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(201, 203, 207, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.2)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',
                                                                      'rgba(255, 99, 132, 0.6)',
                                                                      'rgba(255, 159, 64, 0.6)',
                                                                      'rgba(255, 205, 86, 0.6)',
                                                                      'rgba(75, 192, 192, 0.6)',
                                                                      'rgba(54, 162, 235, 0.6)',
                                                                      'rgba(153, 102, 255, 0.6)',

                                                                    ],

                                                                    borderColor: 'rgb(0, 245, 255)',
                                                                    pointBackgroundColor: 'rgb(54, 162, 235)',
                                                                    pointBackgroundColor: 'rgba(251, 99, 132, 0.1)',
                                                                    pointBackgroundColor: 'rgba(250, 99, 132, 0.7)',
                                                                    pointBackgroundColor: 'rgba(258, 99, 132, 0.8)',

                                                                    pointBorderColor: '#fff',
                                                                    pointHoverBackgroundColor: '#fff',
                                                                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                                                                  }]

                                                                    },
                                                                    options: {
                                                                        scales: {
                                                                            y: {
                                                                                beginAtZero: true
                                                                            }
                                                                        }
                                                                    }
                                                                });
                                                                </script>

                                                        </div>
                                                                                            </div>
                                        </div>
                                        </div>
                                </div>
							</div>
						</div>
					</div>
<!------------------------Biểu đồ kết thúc------->
</div>

<div class="container">
    <div class="row form-group" style="margin-top:30px;">
        <div class="col-lg-2">
            <button class="btn btn-block btn-success" id="insert_btn" data-toggle="modal" data-target="#insert_data">THÊM</button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-block btn-info" id="update_btn">SỬA</button>
            <button class="btn btn-block btn-success" id="save_all_btn" style="display:none;margin-top:0px">LƯU</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
              <div class="alert alert-success" id="upt_success" style="display:none">
              </div>
               <div class="alert alert-danger" id="upt_error" style="display:none">
              </div>
        </div>
    </div>
 </div>
<!-- /Page Content -->
<BR> <br
<div class="row"

    <div class="row">
        <div class="col-lg-12">
            <div class="table">
               {% if students %}
                <table class="table table-striped custom-table datatable">
                    <thead>
                    <tr class="table-success">
                        <th>ID</th>
                         <th>Quản lý</th>

                        <th>TenNangluc_congviec</th>
                        <th>tu_danhgia_dapung</th>

                        <th>Điểm kết quả</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                          <td class="editable" data-type="Quanly_danhgia">{{ student.Quanly_danhgia }}</td>

                        <td>
                            <h6 class="table-avatar">

                               <a href="{% url 'nangluc_chitiet' student.TenNangluc_congviec.nangluc_cv_id %}">
                               {{student.TenNangluc_congviec|truncatewords:12}}
                                   <small>Mức QT: {{student.TenNangluc_congviec.Muc_quantrong_nluc}}</small></a>
                            </h6>
                        </td>
                        <td class="editable" data-type="tu_danhgia_dapung">{{ student.tu_danhgia_dapung }}</td>


                        <td>{{ student.Ketqua_danhgia }}</td>
                        <td class="td-block"><button class="btn-block btn-delete btn-danger"  style="font-size:16px;color:yellow">Xóa</button></td>
                    </tr>

                    {% endfor %}
                    </tbody>
                    <tfoot>
                       <tr class="table-success" >
                           <td colspan="2" ></td>
                           <td class="text-left" >Tổng mức quan trọng{{total_mucqt}}</td>
                           <td class="text-left" >{{total_tu_dg}}</td>
                           <td class="text-left" >{{total_ql}}</td>
                      <td colspan="text-left">{{total_chung}}</td>
                           <td class="text-left" >{{total_diemchuan}}</td>
                           <td class="text-left" >{{total_diemcdat}}</td>
                           <td class="text-left" >{{ketqua_nangluc}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
               {% else %}
                <h4 class="text-center alert alert-warning">Không có dữ liệu </h4>
                {% endif %}
        </div>
    </div>
</div>
<!-- Modal -->
<div id="insert_data" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm dữ liệu</h4>
           <button type="button" class="close" data-dismiss="modal">&times; </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label>ĐỢT ĐÁNH GIÁ NĂNG LỰC: </label>
              <input type="text" name="Quanly_danhgia" id="ins_Quanly_danhgia" class="form-control" placeholder="Quanly_danhgia">
          </div>
          <div class="form-group">
              <label>Tên năng lực : </label>
              <input type="text" name="TenNangluc_congviec" id="ins_TenNangluc_congviec" class="form-control" placeholder="TenNangluc_congviec">
          </div>
           <div class="form-group">
                  <label>TỰ ĐÁNH GIÁ : </label>
              <select name="tu_danhgia_dapung" class="form-control" id="ins_tu_danhgia_dapung">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
          </div>
          <div class="form-group">
             <div class="col-lg-4">
                <input type="button" name="submit" class="btn btn-block btn-info btn-insert-data" value="THÊM DỮ LIỆU">
            </div>
         </div>
          <div class="form-group">
              <div class="alert alert-success" id="ins_success" style="display:none">
              </div>
               <div class="alert alert-danger" id="ins_error" style="display:none">
              </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>

  </div>
</div>
<script>
    $(".btn-insert-data").click(function(){
        var Quanly_danhgia=$("#ins_Quanly_danhgia").val();
        var TenNangluc_congviec=$("#ins_TenNangluc_congviec").val();
        var tu_danhgia_dapung=$("#ins_tu_danhgia_dapung").val();
        if(Quanly_danhgia==""){
            $("#ins_error").text("Nhập tên")
            $("#ins_error").show()
            return;
        }
        else if(TenNangluc_congviec==""){
            $("#ins_error").text("Please Enter TenNangluc_congviec")
            $("#ins_error").show()
            return;
        }
        else{
                $(".btn-insert-data").attr("disabled","disabled");
                $(".btn-insert-data").text("Inserting... Please Wait..");
            $.ajax({
                url:'{% url 'insert' %}',
                type:'POST',
                data:{Quanly_danhgia:Quanly_danhgia,TenNangluc_congviec:TenNangluc_congviec,tu_danhgia_dapung:tu_danhgia_dapung}
            })
            .done(function(response){
                if(response['error']==false){
                    $("#ins_error").hide();
                    $("#ins_success").text(response['errorMessage']);
                    $("#ins_success").show();
                    var html_data="<tr><td>"+response['id']+"</td><td class='editable' data-type='Quanly_danhgia'>"+Quanly_danhgia+"</td><td class='editable' data-type='TenNangluc_congviec'>"+TenNangluc_congviec+"</td><td class='editable' data-type='tu_danhgia_dapung'>"+tu_danhgia_dapung+"</td><td>"+response['Diem_congviec']+"</td><td class='btn-td-block'><button class='btn btn-block btn-delete btn-danger'>DELETE</button></td></tr>";
                    $(".table tbody").append(html_data);
                }
                else{
                    $("#ins_success").hide();
                    $("#ins_error").text(response['errorMessage']);
                    $("#ins_error").show();
                }
            })
            .fail(function(){
                 $("#ins_success").hide();
                 $("#ins_error").text("Something Went Wrong!");
                 $("#ins_error").show();
            })
            .always(function(){
                $(".btn-insert-data").removeAttr("disabled");
                $(".btn-insert-data").text("INSERT STUDENT");
            })
        }
    })
    $("#update_btn").click(function(){
            $("#update_btn").hide();
            $("#save_all_btn").show();

       $(".editable").each(function(){
           var value=$(this).text();
           var types=$(this).data('type');
           if(types!='tu_danhgia_dapung'){
                var html_data="<input type='text' name='"+types+"'  class='form-control input_"+types+" input_data' value='"+value+"'>";
                $(this).html(html_data);
           }
           else{
                var html_data="<select name='"+types+"'  class='form-control input_"+types+" input_data'>";
                if(value=="3"){
                    html_data+="<option selected>3</option><option>1</option><option></option><option>4</option><option>5</option>";
                }
                else{
                    html_data+="<option>1</option><option>2</option><option>3</option><option selected>5</option>";
                }
                html_data+="</select>";
                $(this).html(html_data);
           }
        });
    });

    $("#save_all_btn").click(function(){
        $("#save_all_btn").attr("disabled","disabled");
        $("#save_all_btn").text("Saving Data....");

        var json_data=[];
        $(".input_data").each(function(){
                var value=$(this).val();
                var parent_html=$(this).parent();
                parent_html.html(value);
                $(this).remove();
         });
        $("tbody tr").each(function(){
             var id=$(this).children().eq(0).text()
             var Quanly_danhgia=$(this).children().eq(1).text()
             var TenNangluc_congviec=$(this).children().eq(2).text()
             var tu_danhgia_dapung=$(this).children().eq(3).text()

             var single_data={"id":id,"Quanly_danhgia":Quanly_danhgia,"TenNangluc_congviec":TenNangluc_congviec,"tu_danhgia_dapung":tu_danhgia_dapung};
             json_data.push(single_data);
        });

        var string_data=JSON.stringify(json_data)
        $.ajax({
                url:'{% url 'update_all' %}',
                type:'POST',
                data:{data:string_data}
            })
            .done(function(response){
                if(response['error']==false){
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                }
                else{
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
            })
            .fail(function(){
                 $("#upt_success").hide();
                 $("#upt_error").text("Something Went Wrong!");
                 $("#upt_error").show();
            })
            .always(function(){
                 $("#save_all_btn").removeAttr("disabled");
                 $("#save_all_btn").text("LƯU LẠI");
                 $("#update_btn").show();
                 $("#save_all_btn").hide();
            })

    });

    $(document).on("click",".btn-delete",function(){
            var this_html=$(this);
            this_html.attr("disabled","disabled");
            this_html.text("DELETING....");
            var id=this_html.parent().parent().children().first().text();
            //console.log(id);
            $.ajax({
                url:'{% url 'delete_data' %}',
                type:'POST',
                data:{id:id}
            })
            .done(function(response){
                if(response['error']==false){
                    this_html.parent().parent().remove();
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                }
                else{
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
            })
            .fail(function(){
                 $("#upt_success").hide();
                 $("#upt_error").text("Something Went Wrong!");
                 $("#upt_error").show();
            });
    });
</script>
</body>
</html>