<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="with =device-width, initial-scale=1.0">
    <title>HMis Web</title>
    <link rel="stylesheet" href= {% static "/courses/hmis.css" %}>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="sub-header">
    <nav>
        <a href="layouts/hmis.html"> <img class="image-thumbail" alt="" src="/static/assets/img/anh_his/hrm3.png"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times"  onclick="hideMenu()"></i>
            <ul>
                 <li> <a href="{% url 'Courses:chayweb_index' %}">HOME</a> </li>
                <li> <a href="{% url 'Courses:chayweb_about' %} ">ABOUT</a> </li>
                <li> <a href="{% url 'Courses:chayweb_course' %} ">COURSE</a> </li>
                <li> <a href="{% url 'Courses:chayweb_blog' %} ">BLOG</a> </li>
                <li> <a href="{% url 'Courses:chayweb_Contac' %}">CONTACT</a> </li>
            </ul>
        </div>
       <!---  <i class="fa fa-bars"</i> --->
       <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
  <h1>Bằng cấp và Giấy chứng nhận Đào tạo Năm 2022</h1>
</section>

<!------------------Blog page content------------>
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <img src="/static/assets/img/anh_his/certificate.jpg"></a>
            <h2> Bằng cấp và Giấy chứng nhận Đào tạo Năm 2022</h2>
            <p>
                Sau khi tư vấn, đào tạo chúng tôi cam kết sẽ tiếp tục hỗ trợ Doanh nghiệp nhằm đảm bảo rằng việc
                ứng dụng sau tư vấn, đào tạo đạt hiệu quảtốt nhất.
            </p>
            <br>
            <p>
                Trên đây là một số chương trình tư vấn và đào tạo mà HMIS, Quý Doanh nghiệp có thể lựa chọn các chương trình phù hợp với đơn vị mình. Ngoài các chương trình nêu trên Quý Doanh nghiệp có nhu cầu thực tế khác, HMIS sẵn sàng trao đổi, phân tích nhu cầu và thiết kế các chương trình tư vấn và đào tạo chuyên biệt phù hợp theo đơn đặt hàng của Quý Doanh nghiệp.
                Trong quá trình cung cấp dịch vụ, tùy theo yêu cầu cụ thể của Doanh nghiệp, HMIS sẽ thực hiện các bước cụ thể như sau:
                Bước 1: Khảo sát, phân tích nhu cầu
                Bước 2: Lập kế hoạch
                Bước 3: Thiết kế khung chương
                Bước 4: Phê duyệt chương trình
                Bước 5: Triển khai chương trình
                Bước 6: Đánh giá kết quả sau khi thực hiện
            </p>
             <br>
             <p>
                Trên đây là một số chương trình tư vấn và đào tạo mà HMIS, Quý Doanh nghiệp có thể lựa chọn các chương trình phù hợp với đơn vị mình. Ngoài các chương trình nêu trên Quý Doanh nghiệp có nhu cầu thực tế khác, HMIS sẵn sàng trao đổi, phân tích nhu cầu và thiết kế các chương trình tư vấn và đào tạo chuyên biệt phù hợp theo đơn đặt hàng của Quý Doanh nghiệp.
                Trong quá trình cung cấp dịch vụ, tùy theo yêu cầu cụ thể của Doanh nghiệp, HMIS sẽ thực hiện các bước cụ thể như sau:
                Bước 1: Khảo sát, phân tích nhu cầu
                Bước 2: Lập kế hoạch
                Bước 3: Thiết kế khung chương
                Bước 4: Phê duyệt chương trình
                Bước 5: Triển khai chương trình
                Bước 6: Đánh giá kết quả sau khi thực hiện
            </p>

            <div class="comment-box">
                <h3>Mục bình luận, góp ý</h3>
                <form class="comment-form">
                    <input type="text" placeholder="Vui lòng nhập họ tên">
                    <input type="email" placeholder="Địa chỉ  Email">
                    <textarea rows="5" placeholder="Nội dung trao đổi"></textarea>
                    <button type="submit" class="hero-btn red-btn"> GỬI THÔNG TIN </button>
                </form>
            </div>

         </div>

        <div class="blog-right">
            <h3>KỸ NĂNG MỀM</h3>
            <div>
                <span>Kỹ năng sống  </span>
                <span> 21</span>
            </div>
                 <div>
                <span>Tổ chức sự kiện </span>
                <span> 42</span>
            </div>
            <div>
                <span>Nói trước công chúng  </span>
                <span> 45</span>
            </div>
             <div>
                <span>Làm việc với người khó tính</span>
                <span> 98</span>
            </div>
             <div>
                <span>Business Analytics </span>
                <span> 21</span>
            </div>



        </div>

    </div>


</section>

<!-------------faclities----------------->




<!------------------Footer------------>
<section class="footer">
    <h4>Abou Us</h4>
    <p>  HMIS sẵn sàng trao đổi, phân tích nhu cầu <br>
        và thiết kế các chương trình tư vấn và đào tạo chuyên biệt phù hợp
        theo đơn đặt hàng của Quý Doanh nghiệp</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
<p>Made with   <i class="fa fa-heart-o"></i> Viện Khoa học Quản lý Nguồn nhân lực (HMIS) </p>
</section>



<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>

</body>
</html>